/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.manage_fitting.tb-modal-content .garage-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid transparent;
}

.manage_fitting.tb-modal-content .garage-row:not(.selected):hover {
    background: lightgrey;
    cursor: pointer;
}

.manage_fitting.tb-modal-content .text-container {
    max-height: 0;
    overflow: hidden;
}

.manage_fitting.tb-modal-content .text-container textarea {
    border: 2px solid darkgrey;
    border-radius: 5px;
}

.manage_fitting.tb-modal-content .garage-row.selected {
    border: 2px solid darkgrey;
}

.manage_fitting.tb-modal-content .garage-row .date,
.manage_fitting.tb-modal-content .garage-row .time {
    display: inline-block;
    margin-left: 8px;
}

.manage_fitting.tb-modal-content .garage-row .date select {
    width: 140px;
}

.manage_fitting.tb-modal-footer {
    margin: 1em 0;
    position: absolute !important;
    right: 15px !important;
    left: 15px !important;
    display: flex;
    justify-content: space-between;
}

#TB_window .tb-modal-content .spinner,
#TB_window .tb-modal-footer .spinner {
    visibility: visible;
    float: none;
    margin-top: -4px;
}

#manage_fitting .fitting-status {
    font-weight: bold;
}

#manage_fitting .fitting-status.unconfirmed {
    color: darkred;
}

#manage_fitting .fitting-status.confirmed {
    color: darkgreen;
}
